target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Taroco
logs
LOG_FILE_IS_UNDEFINED
/jars/nacos/logs
/jars/nacos/data
/jars/nacos/bin/logs
/jars/nacos/bin/work

### Rehabilitation
**/.settings
**/logs
**/target
**/.classpath
**/.project